body{
    background-color:beige;

}
header, nav
{
    text-transform: uppercase;
    text-decoration: solid;
    text-align: center;
    color:rgb(76, 45, 13);
    background-color: antiquewhite;
    position: sticky;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0%;
    z-index: 10;
    box-sizing: border-box;
}

h2{
    font-size: 32px;
    font-weight: bold;
    color: rgb(76, 45, 13);
    /*background-image:url("file:///C:/Users/90530/Desktop/FullStack/HTML/Projeler/DASMATOS_ART/Resources/pattern.jpeg") !important;
    */
    }
 h1, h2, h3, p{
        font-family:Helvetica;
        text-align: center;
     }


     nav ul {
        font-weight: bold;
        list-style-type:none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #9e9124;
        display:table;
        width: 100%;
    }
    nav li {
        display: table-cell
    }
    li a {
        display: block;
        color:rgb(76, 45, 13);
        text-align: center;
        padding: 30px 30px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111;
    }
    header :hover{
        background-color: #111;

    }

    .code {
        font-family: monospace;
        background-color: beige;
      }
     tbody {
        font-family: Arial, sans-serif;
        background-color: gainsboro;
      }

table {
    border: 2px solid rgb(76, 45, 13);
    width: 650px;
    margin: 0 auto;
  }
  thead {
    font-weight:bold;
    color:rgb(76, 45, 13);
    background-color: #9e9124;
  }
